body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    text-align: center;
}

button {
    padding: 15px 35px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    background-color: #ff4d6d;
    color: white;
    cursor: pointer;
    transition: transform 0.3s;
}

button:hover {
    transform: scale(1.1);
}

.photo {
    width: 80%;
    max-width: 260px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    animation: fadeIn 2s ease-in;
    
}

.fade {
    animation: fadeIn 2s ease-in;
}

.heart {
    font-size: 50px;
    animation: heartbeat 1s infinite;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes heartbeat {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}
